@model CodingOnCountry.Models.Camp

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Camp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CampCommunity" class="control-label"></label>
                <input asp-for="CampCommunity" class="form-control" />
                <span asp-validation-for="CampCommunity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CampAddress" class="control-label"></label>
                <input asp-for="CampAddress" class="form-control" />
                <span asp-validation-for="CampAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmbededFacebookAlbumLink" class="control-label"></label>
                <input asp-for="EmbededFacebookAlbumLink" class="form-control" />
                <span asp-validation-for="EmbededFacebookAlbumLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CampDate" class="control-label"></label>
                <input asp-for="CampDate" class="form-control" />
                <span asp-validation-for="CampDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CampStartTime" class="control-label"></label>
                <input asp-for="CampStartTime" class="form-control" />
                <span asp-validation-for="CampStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CampEndTime" class="control-label"></label>
                <input asp-for="CampEndTime" class="form-control" />
                <span asp-validation-for="CampEndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

