<div id="slideshow">
    <div id="slides">
        <img src="../imgs/dog1.jpg" class="slideImage">
        <img src="../imgs/dog2.jpg" class="slideImage">
        <img src="../imgs/dog1.jpg" class="slideImage">
        <img src="../imgs/dog2.jpg" class="slideImage">
        <img src="../imgs/dog1.jpg" class="slideImage">
        <img src="../imgs/dog1.jpg" class="slideImage">
        <img src="../imgs/dog2.jpg" class="slideImage">
        <img src="../imgs/dog1.jpg" class="slideImage">
        <img src="../imgs/dog2.jpg" class="slideImage">
        <img src="../imgs/dog1.jpg" class="slideImage">
        <img src="../imgs/dog2.jpg" class="slideImage">
        <img src="../imgs/dog1.jpg" class="slideImage">
        <img src="../imgs/dog1.jpg" class="slideImage">
        <img src="../imgs/dog2.jpg" class="slideImage">
        
    </div>
    <button id="left" onclick="iterate(-1); blurInput('left');"><img src="../imgs/prev.png"></button>
    <button id="right" onclick="iterate(1); blurInput('right');"><img src="../imgs/next.png"></button>
    <button id="closeShow" onclick="closeShow(); blurInput('closeShow');">CLOSE</a>

  </div>
